.user {
  width: 15em;
  height: 6.7em;
  border-radius: 20px;
}

.userOnline {
  left: 18px;
  top: -13px;
  font-size: 20px;
}

.userImage {
  left: 15px;
  top: 40px;
  width: 80px;
  height: 80px;
}

.userId {
  left: 37px;
  top: -6px;
  font-size: 16px;
}

.userName {
  left: 34%;
  top: 24px;
  font-size: 16px;
}

.userTitle {
  left: 34%;
  top: 54px;
  font-size: 16px;
}

.userGame {
  left: 34%;
  top: 82px;
  font-size: 16px;
}

.toggleSwitch {
  right: 20px;
  top: 40%;
  width: 45px;
  height: 20px;
}

.toggleSwitch .toggleButton {
  width: 15px;
  height: 15px;
  top: 50%;
  left: 5px;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 20px);
}