.user {
  width: 40em;
  height: 15em;
  border-radius: 40px;
  margin: 10px auto;
}

.userOnline {
  left: 42px;
  top: -12px;
  font-size: 30px;
}

.userImage {
  left: 40px;
  top: 70px;
  width: 180px;
  height: 180px;
}

.userId {
  left: 75px;
  top: -7px;
  font-size: 27px;
}

.userName {
  left: 32%;
  top: 45px;
  font-size: 30px;
}

.userTitle {
  left: 32%;
  top: 105px;
  font-size: 30px;
}

.userGame {
  left: 32%;
  top: 165px;
  font-size: 30px;
}

.toggleSwitch.title {
  right: 140px;
  top: 7%;
  width: 90px;
  height: 40px;
}

.toggleSwitch.notice {
  right: 30px;
  top: 7%;
  width: 90px;
  height: 40px;
}

.toggleSwitch .toggleButton {
  width: 30px;
  height: 30px;
  top: 50%;
  left: 5px;
}

.toggleSwitch.active .toggleButton {
  left: calc(100% - 35px);
}